<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- html template import -->
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p th:text="'안녕하세요. ' + ${data}">안녕하세요. 손님</p>
</body>
</html>